GH_TOKEN=""
ORGANIZATION=""
REPOSITORY=""
GH_ENTERPRISE_URL=""
GH_APP_ID=""
GH_APP_INSTALLATION_ID=""
GH_APP_PRIVATE_KEY=""
GITHUB_APP_ENTERPRISE_ONLY=""
INCLUDE_DRAFTS="true"
VERIFY_CONFLICTS="false"
EXEMPT_REPOS=""
EXEMPT_PRS=""
DRY_RUN="false"
REPORT_TITLE="PR Conflict Report"
OUTPUT_FILE="pr_conflict_report.md"
SLACK_WEBHOOK_URL=""
SLACK_CHANNEL=""
ENABLE_GITHUB_ACTIONS_STEP_SUMMARY="true"
FILTER_AUTHORS=""
